<div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

    <div id="accessories-tab" class="as-accessories-details">
        <br>
        <h2>Smartphones</h2>
        <br>
        <div class="as-accessories-results  as-search-desktop">
            <section class="column as-search-filters" aria-hidden="false" id="as-search-filters"
                style="position: relative;">


                <div class="as-search-filter-container" style="transform: translate3d(0px, 0px, 0px);">
                    <ul class="as-accordion-list">
                        <li class="as-accordion-item">
                            <div id="facet0" class="as-search-facet iPad Compatibility  as-search-facet-expandable">
                                <div class="as-accordion-header as-search-accordion-header as-accordion-isexpanded "
                                    data-ase-materializer="as-accordion-id0" data-ase-click="toggle">
                                    <button id="as-accordion-header-button0" class="as-accordion-button"
                                        aria-controls="as-accordion-id0" aria-expanded="true"
                                        aria-labelledby="as-accordion-label-id0">
                                        <span id="as-accordion-label-id0" class="as-accordion-title">
                                            <span class="as-search-accordion-title">Marca</span>
                                        </span>

                                    </button>
                                </div>
                                <materializer data-uid="as-accordion-id0" id="as-accordion-id0"
                                    data-show-height="computed" data-hide-height="0"
                                    class="as-search-facet-materializer ase-materializer ase-materializer-show"
                                    data-shown-init="true" style="">
                                    <div class="as-accordion-content">
                                        <ul class="as-search-filter-items  as-filter-text-type    ">
                                            <li class="as-filter-item       ">

                                                <span class="as-filter-name">
                                                    <span class="as-search-filter-content">
                                                        <span class="as-search-filter-text">
                                                            Apple
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="as-filter-item       ">

                                                <span class="as-filter-name">
                                                    <span class="as-search-filter-content">
                                                        <span class="as-search-filter-text">
                                                            LG
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="as-filter-item       ">

                                                <span class="as-filter-name">
                                                    <span class="as-search-filter-content">
                                                        <span class="as-search-filter-text">
                                                            Motorola
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="as-filter-item       ">


                                                <span class="as-filter-name">
                                                    <span class="as-search-filter-content">
                                                        <span class="as-search-filter-text">
                                                            Samsung
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="as-filter-item       ">

                                                <span class="as-filter-name">
                                                    <span class="as-search-filter-content">
                                                        <span class="as-search-filter-text">
                                                            Huawei
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="as-filter-item       ">


                                                <span class="as-filter-name">
                                                    <span class="as-search-filter-content">
                                                        <span class="as-search-filter-text">
                                                            Sony
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>

                                        </ul>
                                        <button
                                            class="as-searchmoreless-toggle as-searchfilter-morebutton  as-search-more"
                                            id="iPad Compatibility_more">
                                            <span class="as-search-morelessbutton-text">Más</span>
                                        </button>
                                    </div>
                                </materializer>
                            </div>
                        </li>
                        <li class="as-accordion-item">
                            {{!-- <span class="as-search-accordion-title">Precio</span> --}}
                            <br>
                            <label for="">Precio Min</label>
                            <input type="text">
                            <br>
                            <label for="">Precio Max</label>
                            <input type="text">
                            <br>
                            <br>
                            <p>$0 - $500.000</p>
                        </li>


                    </ul>
                </div>
            </section>
            <section class="mainPhones">
                <div class="phone">
                    <img src="../assets/phones/galaxys9.jpg" alt="..">
                    <div class="phone-info">
                        <h3>Samsung Galaxy S9</h3>
                        <p>$100000</p>
                    </div>
                    <form action="/detail" method="get">
                        <input type="hidden" name="img" value="../assets/phones/galaxys9.jpg">
                        <input type="hidden" name="title" value="Samsung Galaxy S9">
                        <input type="hidden" name="price" value="100000">
                        <input type="hidden" name="unit" value="1">
                        <button type="submit" class="mercadopago-button" formmethod="get">Comprar</button>
                    </form>
                </div>
                <div class="phone">
                    <img src="../assets/phones/lgg6.jpg" alt="..">
                    <div class="phone-info">
                        <h3>Lg G6</h3>
                        <p>$90000</p>
                    </div>
                    <form action="/detail" method="get">
                        <input type="hidden" name="img" value="../assets/phones/lgg6.jpg">
                        <input type="hidden" name="title" value="LG G6">
                        <input type="hidden" name="price" value="90000">
                        <input type="hidden" name="unit" value="1">
                        <button type="submit" class="mercadopago-button" formmethod="get">Comprar</button>
                    </form>
                </div>
                <div class="phone">
                    <img src="../assets/phones/iphone8.png" alt="..">
                    <div class="phone-info">
                        <h3>Iphone 8</h3>
                        <p>$200000</p>
                    </div>
                    <form action="/detail" method="get">
                        <input type="hidden" name="img" value="../assets/phones/iphone8.png">
                        <input type="hidden" name="title" value="Iphone 8">
                        <input type="hidden" name="price" value="200000">
                        <input type="hidden" name="unit" value="1">
                        <button type="submit" class="mercadopago-button" formmethod="get">Comprar</button>
                    </form>
                </div>
                <div class="phone">
                    <img src="../assets/phones/motog5.jpg" alt="..">
                    <div class="phone-info">
                        <h3>Motorola G5</h3>
                        <p>$80000</p>
                    </div>
                    <form action="/detail" method="get">
                        <input type="hidden" name="img" value="../assets/phones/motog5.jpg">
                        <input type="hidden" name="title" value="Moto G5">
                        <input type="hidden" name="price" value="80000">
                        <input type="hidden" name="unit" value="1">
                        <button type="submit" class="mercadopago-button" formmethod="get">Comprar</button>
                    </form>
                </div>
                <div class="phone">
                    <img src="../assets/phones/motog4.jpg" alt="..">
                    <div class="phone-info">
                        <h3>Motorola G4</h3>
                        <p>$60000</p>
                    </div>
                    <form action="/detail" method="get">
                        <input type="hidden" name="img" value="../assets/phones/motog4.jpg">
                        <input type="hidden" name="title" value="Moto G4">
                        <input type="hidden" name="price" value="60000">
                        <input type="hidden" name="unit" value="1">
                        <button type="submit" class="mercadopago-button" formmethod="get">Comprar</button>
                    </form>
                </div>
                <div class="phone">
                    <img src="../assets/phones/xperia.jpg" alt="..">
                    <div class="phone-info">
                        <h3>Xperia x100</h3>
                        <p>$150000</p>
                    </div>
                    <form action="/detail" method="get">
                        <input type="hidden" name="img" value="../assets/phones/xperia.jpg">
                        <input type="hidden" name="title" value="Xperia x100">
                        <input type="hidden" name="price" value="150000">
                        <input type="hidden" name="unit" value="1">
                        <button type="submit" class="mercadopago-button" formmethod="get">Comprar</button>
                    </form>
                </div>
        </div>


        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>


</div>
</div>
</div>
<div role="alert" class="as-loader-text ally" aria-live="assertive"></div>
<div class="as-footnotes ">
    <div class="as-footnotes-content">
        <div class="as-footnotes-sosumi">
            Todos los derechos reservados Tienda Tecno 2018
        </div>
    </div>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view="home"></script>